.listeHistorique{
	position: absolute;
	top: 10%;
	left: 5%;
}
#form_debut_day,#form_fin_day{
	display: none;
}

.formFindFiche label{
	float: left;
	width:32%;
}
#inputFindFiche {
	text-align: center;
	width: 80%;
	margin-top: 8%;
}