body{
    background-image: url('../images/fond.jpg');
    background-size: 100% 100%;
    background-attachment:fixed;
}
h1{
    text-align: center;
    color:white;
    font-size: 50px;
    position: absolute;
	left: 0;
	right: 0;
	top: -20px;
}
.contentForm{
	margin-left: 16%;
	margin-top: 8%;
	font-size: 25px;
	font-family: serif;
}
#logo{
	width: 11%;
	height: 14%;
    position: absolute;
}
#menu{
	width: 97%;
	height: 4%;
	right: 0px;
	top: 11%;
	position: absolute;
	text-align: center;
}
#dateMenu{
	display: inline-block;
	top: 18%;
	text-align: left;
	left:11%;
	position: absolute;
}
#historiqueMenu{
	display: inline-block;
	top: 18%;
	text-align: left;
	position: absolute;
	left:25%;
}
#saisieMenu{
	display: inline-block;
	top: 18%;
	text-align: left;
	position: absolute;
	left:35%;
}
#nomMenu{
	display: inline-block;
	top: 18%;
	right: 12%;
	text-align: right;
	position: absolute;
}
#deconnexionMenu{
	display: inline-block;
	top: 18%;
	right: 3%;
	text-align: right;
	position: absolute;
}
#center{
	position: absolute;
    top: 20%;
	width: 70%;
	min-height: 77%;
	margin-bottom: 11px;
}
#rightUp{
	right: 1%;
	height: 37%;
	top: 20%;
	width: 26%;
    position: absolute;
}
#rightDown{
	right: 1%;
	height: 37%;
	top: 60%;
	width: 26%;
    position: absolute;
}
.imglogo{
	width:100%;
}
.container{
	border: 5px black double;
    border-radius: 40px;
    background-color:#FFFFFF;
}
.hiden{
	display: none;
}


#plopligneForfait{
	top: 19%;
	width: 90%;
	left: 5%;
	text-align: center;
    position: absolute;
}
#plopligneHorsForfait{
    margin-top: 27%;
	margin-bottom: 7%;
	width: 90%;
	left: 5%;
	text-align: center;
	position: absolute;
}


.titleFiche{
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: underline;
	text-decoration: underline;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#045FB4));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-style: italic;
}
.infoFiche{
	font-size: 20px;
	margin: 30px;
	margin-bottom: 15px;
	font-style: italic;
	font-family: cursive;
	text-decoration: underline;
}
.infoFiche .infoRight{
	width: 40%;
	margin-left: 60%;
	text-align: right;
}
.infoFiche .infoLeft{
	width: 40%;
	float: left;
	text-decoration: underline;
}
.totsFiche{
	border: solid 1px;
	width: 15%;
	text-align: center;
	border-radius: 8px;
	box-shadow: 6px 6px 3px #888888;
	margin-left: 75%;
	margin-bottom: 13px;
}
.totGlob{
	font-size: 24px;
	margin: 20px;
	margin-left: 70%;
	text-decoration: underline;
	font-weight: bold;
	font-style: italic;
	font-family: serif;
}



.tableFiche {
	margin-left:5%;
	margin-bottom: 20px;
	padding:0px;
	width:90%;
	
	-moz-border-radius-bottomleft:13px;
	-webkit-border-bottom-left-radius:13px;
	border-bottom-left-radius:13px;
	
	-moz-border-radius-bottomright:13px;
	-webkit-border-bottom-right-radius:13px;
	border-bottom-right-radius:13px;
	
	-moz-border-radius-topright:13px;
	-webkit-border-top-right-radius:13px;
	border-top-right-radius:13px;
	
	-moz-border-radius-topleft:13px;
	-webkit-border-top-left-radius:13px;
	border-top-left-radius:13px;
}.tableFiche table{
	border-radius: 13px;
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	margin-top: 10px;
	margin-bottom: 20px;
	box-shadow: 10px 10px 5px #888888;
}.tableFiche tr:last-child td:last-child {
	-moz-border-radius-bottomright:13px;
	-webkit-border-bottom-right-radius:13px;
	border-bottom-right-radius:13px;
}
.tableFiche table tr:first-child td:first-child {
	-moz-border-radius-topleft:13px;
	-webkit-border-top-left-radius:13px;
	border-top-left-radius:13px;
}
.tableFiche table tr:first-child td:last-child {
	-moz-border-radius-topright:13px;
	-webkit-border-top-right-radius:13px;
	border-top-right-radius:13px;
}.tableFiche tr:last-child td:first-child{
	-moz-border-radius-bottomleft:13px;
	-webkit-border-bottom-left-radius:13px;
	border-bottom-left-radius:13px;
}.tableFiche tr:hover td{
	
}
.tableFiche tr:nth-child(odd){ 
	background-color:#aad4ff; 
}
.tableFiche tr:nth-child(even){ 
	background-color:#ffffff; 
}
.tableFiche td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:15px;
	font-family:cursive;
	font-weight:normal;
	color:#000000;
}
.tableFiche tr:first-child td{
	background:-o-linear-gradient(bottom, #2361a0 5%, #063a6d 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2361a0), color-stop(1, #063a6d) );
	background:-moz-linear-gradient( center top, #2361a0 5%, #063a6d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#2361a0", endColorstr="#063a6d");	background: -o-linear-gradient(top,#2361a0,063a6d);
	background-color:#2361a0;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.tableFiche tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #2361a0 5%, #063a6d 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2361a0), color-stop(1, #063a6d) );
	background:-moz-linear-gradient( center top, #2361a0 5%, #063a6d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#2361a0", endColorstr="#063a6d");	background: -o-linear-gradient(top,#2361a0,063a6d);

	background-color:#2361a0;
}
.tableFiche tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tableFiche tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.tableFiche tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.tableFiche tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.tableFiche tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tableFiche caption {
	font-size: 23px;
	font-family: fantasy;
	background: -webkit-gradient(linear, left top, left bottom, from(#2361a0), to(#063a6d));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

button{
	background: -webkit-gradient(linear, left top, left bottom, from(#2361a0), to(#063a6d));
	color: white;
	width: 80px;
	height: 30px;
	box-shadow: 4px 4px 5px #888888;
	border-radius: 50px;
}
select{
	border: #2361a0 2px inset;
	border-radius: 5px;
}
.message{
	margin: 40px;
}
#infoMenu button{
	width:25px;
	height: 25px;
	border-radius: 15px;

}
#infoMenu{
	width: 30px;
	margin-left: 97%;
}
 