body{
    background-image: url('../images/fond.jpg');
    background-size: 100% 100%;
    background-attachment:fixed;
}
.connexion {
    border: 5px black double;
    border-radius: 40px;
    font-family: Arial;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    clear:left;
    text-align:center;
    background-color:#FFFFFF;
    color:black;
    height:500px;
    }
h1{
    text-align: center;
    color:white;
    font-size: 50px;
}
input{
    border: #2361a0 2px inset;
    border-radius: 5px;
}
button{
    background: -webkit-gradient(linear, left top, left bottom, from(#2361a0), to(#063a6d));
    color: white;
    width: 80px;
    height: 30px;
    box-shadow: 4px 4px 5px #888888;
    border-radius: 50px;
}

.plop{
    width: 42mareginjjij%;
    float: left;
    text-align: left;
    margin-top: 5%;
}
#divFormConect{
    width: 50%;
    margin-left: 25%;
    margin-top: 4%;
    height: 33%;
}
#BtnConnect{
    margin-top: 5%;
}
.tableJury{
    border: 2px solid black;
    border-collapse: collapse;
}
.titreTableJury{
    border: 2px solid black;
}
.appliCodeSrc{
    border: 2px solid black;
}
