#fiche{
    position: absolute;
    top: 20%;
	width: 70%;
	min-height: 77%;
	margin-bottom: 11px;
}

#ligneForfait{
	top: 17%;
	width: 90%;
	left: 4%;
	text-align: center;
    position: absolute;
}

#ligneHorsForfait{
    margin-top: 23%;
	margin-bottom: 7%;
	width: 90%;
	left: 4%;
	text-align: center;
	position: relative;
}

#saisieForfait{
	right: 1%;
	height: 37%;
	top: 20%;
	width: 26%;
    position: absolute;
}

#saisieHorsForfait{
	right: 1%;
	height: 37%;
	top: 60%;
	width: 26%;
    position: absolute;
}

.quantiteForfait{
	width:15%;
	display: inline-block;
}

.quantiteHorsForfait{
	width:20%;
	display: inline-block;
}

.descriptionHorsForfait{
	width:40%;
	display: inline-block;
}

.contentForm{
	margin-left: 16%;
	margin-top: 15%;
}


.infosFiche{
	margin-left: 5%;
	width:30%;
	height: 50%;
	display: inline-block;
}

.right{
	right:0;
	position: absolute;
}

.delHorsForfait{
	width:3%;
	display: inline-block;
}

.legende{
	width:15%;
	display: inline-block;
}

.noBorder{
	border :0px;
}

table
{
    border-collapse: collapse;
}
td, th{
    border: 1px solid black;
}