{% extends 'GsbAppliFraisBundle:Visiteur:saisie.html.twig' %}

{% block deleteForm %}
	{{ form(formDelete) }}

	<a href="{{ path('visiteur', { 'id': visiteur.id }) }}">
	    <button>Annuler la modification</button>
	</a>
{% endblock %}