<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
        Jobeet - Your best job board
      {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('bundles/gsbapplifrais/css/main.css') }}" type="text/css" media="all" />
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
  </head>
  <body>
    <div>
      
      {% block javascripts %}
      {% endblock %}

      {% block javascripts %}
      {% endblock %}

      {% block javascripts %}
      {% endblock %}

      {% block javascripts %}
      {% endblock %}

      {% block javascripts %}
      {% endblock %}

      {% block javascripts %}
      {% endblock %}

      {% block javascripts %}
      {% endblock %}
 
    </div>
  </body>
</html>