<!DOCTYPE html>
<html>
  <head>
    <title>

      {% block title %}
        GSB
      {% endblock %}

    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('bundles/gsbapplifrais/css/main.css') }}" type="text/css" media="all" />
    {% endblock %}

    {% block javascripts %}
    {% endblock %}

  </head>
  <body>
    <div>
      
      <div id="menu" class="container">
      {% block menu %}
        <div id="dateMenu">
        {% block date %}
          
            {{ "now"|date("m/d/Y") }}
          
        {% endblock %}
        </div>

        {% block liens %}
        {% endblock %}
        
        <div id="nomMenu">
        {% block nom %}
          
        {% endblock %}
        </div>
        <div id="deconnexionMenu">
        {% block deconnexion %}
          
            <a href="{{ path('logout') }}">Deconnexion</a>
          
        {% endblock %}
        </div>
      
      {% endblock %}
      </div>

      <div id="logo" class="container">
      {% block logo %}
      
        <img   src="{{ asset('bundles/gsbapplifrais/images/logo.png') }}" class="imglogo"/>
      
      {% endblock %}
      </div>

      <h1>Laboratoire Galaxy Swiss Bourdin</h1>
      
      <div id="center" class="container">
      {% block corps %}
        
      {% endblock %}
      </div>

      <div id="rightUp" class="container">
      {% block rightUp %}
        
        
      {% endblock %}
      </div>

      <div id="rightDown" class="container">
      {% block rightDown %}
        
        
      {% endblock %}
      </div>
 
    </div>
  </body>
</html>