<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
        Jobeet - Your best job board
      {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('bundles/gsbapplifrais/css/main.css') }}" type="text/css" media="all" />
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
  </head>
  <body>
    <div>
      
      {% block logo %}
      <div id="logo">
        <img   src="{{ asset('bundles/gsbapplifrais/images/logo.png') }}" class="imglogo"/>
      </div>
      {% endblock %}

      {% block menu %}
      {% endblock %}

      {% block deconnection %}
      {% endblock %}

      {% block fiche %}
      {% endblock %}

      {% block ligneforfait %}
      {% endblock %}

      {% block lignehorsforfait %}
      {% endblock %}

      {% block saisieforfait %}
      {% endblock %}

      {% block saisiehorsforfait %}
      {% endblock %}
 
    </div>
  </body>
</html>