.contentForm{
	margin-left: 16%;
	margin-top: 8%;
	font-size: 25px;
	font-family: serif;
}
input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
}
.formSaisieF input[type=number]{
	width: 30px;
	border: #2361a0 2px inset;
	border-radius: 5px;
	margin-left: 10px;
	float: right;
	margin-right: 10px;
	text-align: right;  
}

.formSaisieF #form div{
	float: left;
	width: 40%;
	margin-bottom: 30px;
}
#gsb_saisie_hors_forfait_date{
	display: inline;
}
#gsb_saisie_hors_forfait_libelle{
	border: #2361a0 2px inset;
	border-radius: 5px;
	height: 55px;
	margin-top: 10px;
	resize: none;
	width: 80%;
}
#gsb_saisie_hors_forfait_montant{
	border: #2361a0 2px inset;
	border-radius: 5px;
	width: 20%;
	text-align: right;
}
.submitButton{
	text-align: center;
	width: 80%;
}
.titleForm{
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: underline;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#045FB4));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-style: italic;
}
.formSaisieHf{
	margin-top: 0%;
}